<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/log.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Somos una plataforma que te permitira crear y guardar proyectos. <br>
              </span>
              <span class="black-text">
                Ubicacion: Instituto Tecnologico de Gustavo A. Madero <br>
                Autor: Ana Maory Beristain Flores<br>
                Materia: Pila Completa II <br>
                Docente: Jorge Rivalcoba <br>
              </span>
            </div>
             <div class="carousel">
    <a class="carousel-item" href=""><img src="images/logo1.png"></a>
    <a class="carousel-item" href=""><img src="images/logo2.png"></a>
    <a class="carousel-item" href=""><img src="images/logo3.png"></a>
    <a class="carousel-item" href=""><img src="images/logo4.png"></a>
    <a class="carousel-item" href=""><img src="images/logo5.png"></a>
  </div>
          </div>
        </div>
      </div>
            
