{
    "presets": [
        [
            "minfy",{
                "builtIns" : false,
                "evalue" : false, 
                "mangle" : false

            }
        ],
        [
            "@babel/preset-env",{
                //los targes son las plataformas 
                //donde se ejecutara el codigo final
                "targets" : {"node" : "current"}
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",{
                "root": ["./"],
                "alias":{
                    "@server" : "./server"
                }
            }
        ]
    ]
}